[Unit]
Description=demo web service

[Service]
WorkingDirectory=/home/ubuntu/demo-web
ExecStart=/home/ubuntu/demo-web/run.sh
Restart=always

[Install]
WantedBy=multi-user.target